<%= if logged_in?(@conn) do %>
  <div class="row">
    <div class="col-md-12 alert alert-info">
      Hello, <span id="user"><%= current_user(@conn).email %></span>!
    </div>
    <div class="col-md-8">
      <h2>Feels</h2>
      <input type="text" id="newFeelMessage" placeholder="Type and press enter..." class="form-control">
      <ul id="feelMessageList" class="list-unstyled"></ul>
    </div>
    <div  class="col-md-4">
      <h2>Who’s Online</h2>
      <ul id="UserList" class="list-unstyled">
        <li>Loading online users...</li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <h2><%= gettext "Welcome to %{name}", name: "RetroDoc" %></h2>
    <p class="lead">A place for you to share all of your feels<br /> 😁 😒 😡 😢</p>
  </div>

  <div class="row marketing">
    <div class="col-lg-12">
      <h4>Source</h4>
      <ul>
        <li>
          <a href="https://github.com/JessicaG/retrodoc">GitHub Repository</a>
        </li>
      </ul>
    </div>
  </div>
<% end %>
